*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  margin: auto;
  inline-size: 1200px;
  block-size: 100%;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  width: 1140px;
  display: flex;
  margin: auto;
  gap: 30px;
  align-items: end;
}

.content__list {
  overflow: auto;
  height: 299px;
  position: relative;
}

.result {
  padding-top: 133px;
  align-self: flex-start;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  margin-right: 2px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form {
  padding-top: 16px;
  display: grid;
  grid-template-columns: 225px 212px 194px;
  column-gap: 40px;
  align-items: end;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.title {
  padding-bottom: 17px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  font-size: 75px;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__video-card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.content__card-link {
  margin: 5px;
  display: block;
  text-decoration: none;
}

.content__video-card-description {
  padding-top: 6px;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.search-form__label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: row;
  width: fit-content;
  background: transparent;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  width: 225px;
}

.search-form__textfield {
  border-left: none;
  border-right: none;
  width: 225px;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  font-weight: 700;
  cursor: pointer;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  line-height: 21.6px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.search-form__textfield:active {
  outline: 1px solid rgba(255, 255, 255, 1);
}

.search-form__pseudo-checkbox {
  display: block;
  border: 1px solid rgba(255, 255, 255, 1);
  height: 19px;
  width: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 1);
  height: 15px;
  width: 15px;
  margin: 1px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 1px;
}

.search-form__label:hover {
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
  text-decoration: none;
}

.button:focus-visible {
  outline: #fff;
}

.button:focus {
  outline: 1px solid rgba(255, 255, 255, 1);
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline 1px rgba(255, 255, 255, 1);
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
}

.content__card-link:focus {
  outline: none;
}

.more-button {
  border: 1px solid rgba(255, 255, 255, 1);
  width: 399px;
  height: 34px;
  color: rgba(255, 255, 255, 1);
}
